[Unit]
Description= Watch and backup and print files

[Service]
Type=simple
ExecStart=/usr/local/bin/systemd.sh
Restart=always

[Install]
WantedBy=multi-user.target
